h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

a {
  --time: 300ms;

  color: blue;

  transition: color var(--time) ease-in-out;
}

p {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

q {
  font-style: italic;
}

blockquote {
  margin-left: calc(1rem + 1vw);
}

code {
  font-family: 'Courier New', Courier, monospace;
  padding: 0.25rem;
  background-color: rgba(0, 0, 0, 10%);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 25%);
}

body {
  font: 1rem Helvetica, sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  color: white;
  background-color: black;
}

body > header > div.top {
  text-align: center;
}

body > header > div.top h1 a {
  color: white;
}

body > header > div.top h1 a:hover {
  color: skyblue;
}

body > header a {
  color: skyblue;
}

body > header a:hover {
  color: color-mix(in srgb, skyblue 70%, blue 30%);
}

body > footer a {
  color: white;
}

body > footer a:hover {
  color: skyblue;
}

.box {
  --spacing: calc(0.25rem + 1vw);

  margin: calc(var(--spacing) / 2);
  border: 1px solid;
  padding: var(--spacing);

  border-radius: 1vw;
}

.note {
  background-color: darkslategrey;
}

.book {
  color: black;
  background-color: grey;
  border-color: darkslategrey;
}

.book a {
  color: black;
}

.book a:hover {
  color: color-mix(in srgb, black 50%, blue 50%);
}

.chapter {
  color: black;
  background-color: lightgrey;
  border-color: grey;
}

.chapter a:hover {
  color: blue;
}
